<br />

<div class="well col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 centered">
  <form ng-submit="profileCtrl.updateProfile()" novalidate>
    <fieldset>

      <legend><h1>Edit Profile</h1></legend>

      <div class="form-group">
        <label for="first-name">Name</label>
        <input id="first-name" required type="text" class="form-control" placeholder="First Last" ng-model="profileCtrl.profile.name">
      </div>

      <div class="form-group">
        <label for="email-address">Email address (username)</label>
        <input id="email-address" disabled type="text" class="form-control" placeholder="Email address" ng-model="profileCtrl.email">
      </div>

      <br />

      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Update profile">
      </div>

    </fieldset>
  </form>
</div>
