<div id="board-detail-view">
  <div class="row">

    <div class="col-sm-12">
      <span class="h3 text-uppercase board-title">{{ boardDetailsCtrl.boardTitle }} </span>
      <a href="" class="btn btn-info btn-sm" ng-click="boardDetailsCtrl.starBoard(boardDetailsCtrl.board)"><i class="fa" ng-class="boardDetailsCtrl.board.starred ? 'starred-board fa-star' : 'fa-star-o'"></i></a>
    </div>

  </div>
  <br />


  <div class="row dragStyles row-horizon">

    <div ng-repeat="list in boardDetailsCtrl.lists" class="col-sm-4 col-lg-3">


      <div class="panel panel-info" ng-attr-id="{{ list.$id }}">

        <div class="panel-heading">
          <h3 class="panel-title">{{ list.title }}</h3>
        </div>

        <div class="panel-body list-body">

          <ul dnd-list="list"
              dnd-drop="boardDetailsCtrl.dropCallback(event, index, item, external, type, 'cardType')"
          >
              <li ng-repeat="card in boardDetailsCtrl.models.cards | filter:{list:list.$id} | orderBy: 'listNumber'"
                  class="cardHover"
                  dnd-type="cardType"
                  dnd-draggable="card"
                  dnd-effect-allowed="move"
                  dnd-selected="boardDetailsCtrl.editCard(card)"
                  ng-class="{'selected': models.selected === card}"
                  >
                  {{ card.title }}
              </li>

              <li>
                <form name="newCard" novalidate>
                  <fieldset>
                    <div class="form-group">
                      <textarea name="title" ng-model="list.newCard.title" type="text" class="form-control input-sm" placeholder='Add a card...' required></textarea>
                    </div>

                    <div class="form-group">
                      <button ng-disabled="newCard.$invalid" class="btn btn-sm btn-primary pull-left" ng-click="boardDetailsCtrl.addNewCard(list)">Add</button>
                    </div>
                  </fieldset>
                </form>
              </li>

          </ul>

        </div>

      </div>
    </div>


    <div class="col-sm-4 col-lg-3">
      <div class="well well-sm">
        <form name="newList" novalidate>
          <fieldset>
            <div class="form-group">
              <input name="title" ng-model="boardDetailsCtrl.newList.title" type="text" class="form-control input-sm" placeholder='Add a list...' required>
            </div>

            <div class="form-group">
              <button ng-disabled="newList.$invalid" class="btn btn-sm btn-primary pull-left" ng-click="boardDetailsCtrl.addNewList()">Create</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>

  </div>
</div>
