<form ng-submit="authCtrl.register()" name="register" class="form-signin" novalidate>
  <fieldset>

    <legend><h1 class="text-muted">Register</h1></legend>

    <div class="form-group">
      <label for="name-register">Name</label>
      <input id="name-register" name="name" ng-model="authCtrl.userProfile.name" type="text" class="form-control input-sm" placeholder="First Last" required>
      <!-- <p class="help-block" ng-show="register.email.$dirty && register.email.$invalid">Please enter a proper email</p> -->
    </div>

    <div class="form-group">
      <label for="email-register">Email address</label>
      <input id="email-register" name="email" ng-model="authCtrl.userAuth.email" type="email" class="form-control input-sm" placeholder="Email address" required>
      <!-- <p class="help-block" ng-show="register.email.$dirty && register.email.$invalid">Please enter a proper email</p> -->
    </div>

    <div class="form-group">
      <label for="password-register">Password</label>
      <input id="password-register" name="password" ng-model="authCtrl.userAuth.password" type="password" class="form-control input-sm" placeholder="Password" required>
      <!-- <input name="password_confirm" ng-model="password_confirm" type="password" class="form-control" placeholder="Confirm Password" validate-equals='password' required> -->
      <!-- <p class="help-block" ng-show="register.password_confirm.$dirty && register.password_confirm.$invalid">Please match the passwords.</p> -->
    </div>

    <div class="form-group">
      <button ng-disabled="register.$invalid" class="btn btn-primary btn-block" type="submit">
        Create my account
      </button>
    </div>

    <br />
    <a class="text-muted pull-right" ui-sref="login">Already have an account? Login!</a>

  </fieldset>
</form>
