<h3><i class="fa fa-star-o"></i> Starred Boards</h3>
<div class="row boards">
  <div class="col-sm-4"><a href="#">Place for repeat of starred boards</a></div>
</div>

<br />
<h3><i class="fa fa-user"></i> My Boards</h3>


<div class="row">
  <div class="col-sm-4">
    <a class="board-card" href="#">Place for repeat of boards</a>
  </div>
  <div class="col-sm-4">
    <a class="board-card" href="#" ng-click="boardsCtrl.open('newBoard')">Create a new board</a>
  </div>
</div>
<br />

<h3 ng-show="!(boardsCtrl.teams| filter:nameText).length"><i class="fa fa-users"></i> Team Boards</h3>

<div ng-repeat="team in boardsCtrl.teams| filter:nameText">
  <h3><i class="fa fa-users"></i> {{ team.name }}</h3>

  <div class="row">
    <div class="col-sm-4">
      <a class="board-card" href="#">Place for repeat of boards</a>
    </div>
    <div class="col-sm-4">
      <a class="board-card" ng-click="boardsCtrl.open('newBoard')" href="#">Create a new board</a>
    </div>
  </div>
  <br />

</div>

<br />
<a ng-click="boardsCtrl.open('newTeam')" href="#">Create a new team...</a>
