<h3 class="boards-h3"><i class="fa fa-star"></i> Starred Boards</h3>

<div class="row">

  <div ng-repeat="board in boardsCtrl.boards | filter:{starred:true}" class="col-sm-4">
    <div class="row">
      <div class="col-xs-12">
        <a class="board user-board" ui-sref="board-details({ boardId: board.$id })">
          <div class="well">
            <div class="col-xs-10">{{ board.title }}</div>
            <div class="col-xs-2"><i class="fa" ng-class="board.starred ? 'starred-board fa-star' : 'fa-star-o'"></i></div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
      <a class="board" href="#" ng-click="boardsCtrl.open('newBoard')"><div class="well">Create a new board...</div></a>
  </div>

</div>

<br />
<h3 class="boards-h3"><i class="fa fa-user"></i> My Boards</h3>

<div class="row">

  <div ng-repeat="board in boardsCtrl.boards | filter:{team:'private'}" class="col-sm-4">
    <div class="row">
      <div class="col-xs-12">
        <a class="board user-board" ui-sref="board-details({ boardId: board.$id })">
          <div class="well">
            <div class="col-xs-10">{{ board.title }}</div>
            <div class="col-xs-2"><i class="fa" ng-class="board.starred ? 'starred-board fa-star' : 'fa-star-o'"></i></div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
      <a class="board" href="#" ng-click="boardsCtrl.open('newBoard')"><div class="well">Create a new board...</div></a>
  </div>

</div>
<br />


<h3 class="boards-h3" ng-show="!(boardsCtrl.teams| filter:nameText).length"><i class="fa fa-users"></i> Team Boards</h3>

<div ng-repeat="team in boardsCtrl.teams| filter:nameText">
  <h3 class="boards-h3"><i class="fa fa-users"></i> {{ team.name }}</h3>

  <div class="row">

    <div ng-repeat="board in boardsCtrl.boards | filter:{team:team.name}" class="col-sm-4">
      <div class="row">
        <div class="col-xs-12">
          <a class="board user-board" ui-sref="board-details({ boardId: board.$id })">
            <div class="well">
              <div class="col-xs-10">{{ board.title }}</div>
              <div class="col-xs-2"><i class="fa" ng-class="board.starred ? 'starred-board fa-star' : 'fa-star-o'"></i></div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
        <a class="board" href="#" ng-click="boardsCtrl.open('newBoard')"><div class="well">Create a new board...</div></a>
    </div>

  </div>
  <br />

</div>

<br />
<a ng-click="boardsCtrl.open('newTeam')" href="#">Create a new team...</a>

<br />
<br />
<br />
<br />
