<form name="newBoard" novalidate>
  <fieldset>

    <legend class="modal-header">
      <h3 class="modal-title text-muted">Create Board</h3>
    </legend>

    <div class="modal-body">
      <div class="form-group">
        <label for="board-title">Title</label>
        <input id="board-title" name="title" ng-model="newBoardCtrl.newBoard.title" type="text" class="form-control input-sm" placeholder='Like "Team Product Sprint" for example' required>
      </div>

      <div class="form-group">
        <label for="board-team">Team</label>
        <select id="board-team" name="team" ng-model="newBoardCtrl.newBoard.team" class="form-control input-sm" required>
          <option disabled selected value="">Select a team</option>
          <option value="private">None (Private Board)</option>
          <option ng-repeat="team in newBoardCtrl.teams" value="{{ team.name }}">{{ team.name }}</option>
        </select>
      </div>

    </div>

    <div class="modal-footer">
        <button ng-disabled="newBoard.$invalid" class="btn btn-primary pull-left" ng-click="newBoardCtrl.create()">Create</button>
        <button class="btn btn-link text-muted pull-right" ng-click="newBoardCtrl.cancel()">Cancel</button>
    </div>

  </fieldset>
</form>
