<ul class="nav nav-tabs">
  <li role="presentation" ui-sref-active="active"><a ui-sref="invoices.overview">Overview</a></li>
  <li role="presentation" ui-sref-active="active"><a ui-sref="invoices.report">Report</a></li>
  <li role="presentation" ui-sref-active="active"><a ui-sref="invoices.recurring">Recurring</a></li>
  <li role="presentation" ui-sref-active="active"><a ui-sref="invoices.retainers">Retainers</a></li>
  <li role="presentation" ui-sref-active="active"><a ui-sref="invoices.configure">Configure</a></li>
</ul>

<ui-view></ui-view>

<p>This is the invoices main view.</p>
