<form ng-submit="authCtrl.register()" name="register" class="form-signin" novalidate>
  <fieldset>

    <legend><h1 class="text-muted">Register</h1></legend>

    <div class="form-group">
      <label for="first-name-register">First name</label>
      <input id="first-name-register" name="firstName" ng-model="authCtrl.userProfile.firstName" type="text" class="form-control input-sm" placeholder="First name" required>
      <!-- <p class="help-block" ng-show="register.email.$dirty && register.email.$invalid">Please enter a proper email</p> -->
    </div>

    <div class="form-group">
      <label for="last-name-register">Last name</label>
      <input id="last-name-register" name="lastName" ng-model="authCtrl.userProfile.lastName" type="text" class="form-control input-sm" placeholder="Last name" required>
      <!-- <p class="help-block" ng-show="register.email.$dirty && register.email.$invalid">Please enter a proper email</p> -->
    </div>

    <div class="form-group">
      <label for="company-register">Company</label>
      <input id="comany-register" name="company" ng-model="authCtrl.userProfile.company" type="text" class="form-control input-sm" placeholder="Company" required>
      <!-- <p class="help-block" ng-show="register.email.$dirty && register.email.$invalid">Please enter a proper email</p> -->
    </div>

    <div class="form-group">
      <label for="email-register">Email address</label>
      <input id="email-register" name="email" ng-model="authCtrl.userAuth.email" type="email" class="form-control input-sm" placeholder="Email address" required>
      <!-- <p class="help-block" ng-show="register.email.$dirty && register.email.$invalid">Please enter a proper email</p> -->
    </div>

    <div class="form-group">
      <label for="phone-register">Phone number</label>
      <input id="phone-register" name="phone" ng-model="authCtrl.userProfile.phone" type="text" class="form-control input-sm" placeholder="Phone number" required>
      <!-- <p class="help-block" ng-show="register.email.$dirty && register.email.$invalid">Please enter a proper email</p> -->
    </div>

    <div class="form-group">
      <label for="password-register">Password</label>
      <input id="password-register" name="password" ng-model="authCtrl.userAuth.password" type="password" class="form-control input-sm" placeholder="Password" required>
      <!-- <input name="password_confirm" ng-model="password_confirm" type="password" class="form-control" placeholder="Confirm Password" validate-equals='password' required> -->
      <!-- <p class="help-block" ng-show="register.password_confirm.$dirty && register.password_confirm.$invalid">Please match the passwords.</p> -->
    </div>

    <div class="form-group">
      <label for="team-size-register">Team size</label>
      <select id="team-size-register" name="teamSize" ng-model="authCtrl.userProfile.teamSize" class="form-control input-sm" required>
        <option value="" disabled selected>Team size (select one)</option>
        <option value="1">1</option>
        <option value="2-4">2-4</option>
        <option value="5-9">5-9</option>
        <option value="10-49">10-49</option>
        <option value="50+">50+</option>
      </select>
      <!-- <input name="password_confirm" ng-model="password_confirm" type="password" class="form-control" placeholder="Confirm Password" validate-equals='password' required> -->
      <!-- <p class="help-block" ng-show="register.password_confirm.$dirty && register.password_confirm.$invalid">Please match the passwords.</p> -->
    </div>

    <div class="form-group">
      <button ng-disabled="register.$invalid" class="btn btn-primary btn-block" type="submit">
        Create my account
      </button>
    </div>

    <br />
    <a class="text-muted pull-right" ui-sref="login">Already have an account? Login!</a>

  </fieldset>
</form>
